#*
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*#
<div class="page-header">
    <h1><small>$objectname</small></h1>
    <h2><small>$classname</small></h2>
</div>

<div class="alert alert-info">
    $description
</div>

<table id="mbean-table" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        #foreach( $attribute in $attributes )
            <tr>
                <td>$attribute.name</td>
                <td>$attribute.description</td>
                <td>$attribute.value</td>
                <td>$attribute.type</td>
            </tr>
        #end
    </tbody>
</table>

<script type="text/javascript" src="$mapping/resources/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="$mapping/resources/js/jquery.tablesorter.widgets.js"></script>
<script type="text/javascript">
    $(function() {
        $("table#report-table").tablesorter({
            widthFixed : false,
            widgets: [ "filter" ],
            widgetOptions : {
                filter_childRows : false,
                filter_columnFilters : true,
                filter_cssFilter : 'tablesorter-filter',
                filter_filteredRow   : 'filtered',
                filter_formatter : null,
                filter_functions : null,
                filter_hideFilters : false,
                filter_ignoreCase : true,
                filter_liveSearch : true,
                filter_reset : 'button.reset',
                filter_searchDelay : 300,
                filter_serversideFiltering: false,
                filter_startsWith : false,
                filter_useParsedData : false,
                cssAsc: 'headerSortUp',
                cssDesc: 'headerSortDown',
                sortList: [[4, 1]] // sort by mean in descending order
            }
        });

        $("table#report-table tr th div").addClass("blue");
    });
</script>
