<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-3">
    <div class="form-group" role="form">
      <label for="icpu-datetimepicker-start">From</label>
      <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened"
             min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="icpu-datetimepicker-start" />
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group" role="form">
      <label for="icpu-datetimepicker-end">To</label>
      <button type="button" class="btn btn-default" ng-click="endDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened"
             min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="icpu-datetimepicker-end" />
    </div>
  </div>
  <div class="col-lg-3">
    <button type="button" class="btn btn-primary" ng-click="updateGraphs()">Update</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-bar-chart"></i>CPU
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div id="cpu"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-table"></i>Computer Info
        </h3>
      </div>
      <div class="panel-body">
        <table id="cpu-table" class="table table-bordered table-striped table-hover">
          <tbody>
          <tr><td>OS Name</td><td>{{::os.name}}</td></tr>
          <tr><td>Version</td><td>{{::os.version}}</td></tr>
          <tr><td>Architecture</td><td>{{::os.arch}}</td></tr>
          <tr><td>Number of processors</td><td>{{::os.numberProcessor}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-bar-chart"></i>Used Memory
        </h3>
      </div>
      <div class="panel-body">
        <div id="memory"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-table"></i>Memory Status
        </h3>
      </div>
      <div class="panel-body">
        <table id="memory-table" class="table table-bordered table-striped table-hover">
          <tbody>
          <tr><td>Init</td><td>{{memory.initMemory}}</td></tr>
          <tr><td>Max</td><td>{{memory.maxMemory}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-bar-chart"></i>Used Non Heap Memory
        </h3>
      </div>
      <div class="panel-body">
        <div id="nonheapmemory"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-table"></i>Non Heap Memory Status
        </h3>
      </div>
      <div class="panel-body">
        <table id="memory-table" class="table table-bordered table-striped table-hover">
          <tbody>
          <tr><td>Init</td><td>{{memory.initNonHeapMemory}}</td></tr>
          <tr><td>Max</td><td>{{memory.maxNonHeapMemory}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="icon-bar-chart"></i>Active Threads
        </h3>
      </div>
      <div class="panel-body">
        <div id="activethreads"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
  </div>
</div>